app/index.html
<!DOCTYPE html>
<html lang="ru-Ru">
  <head>
    <title>JS-Image-Lib</title>
    <link rel="stylesheet" type="text/css" href="/css/app.css">
  </head>
  <body>
    <div id="app">
      <ul class="gal" id="gal"></ul>
      <button class="btn-load-gal" id="btn-load-gal"></button>
    </div>
  </body>
</html>
<script src="/js/app.min.js"></script>

src/pug/pages/index.pug
doctype html
html(lang="ru-Ru")
    head
        title JS-Image-Lib
        link(rel="stylesheet" type='text/css' href="/css/app.css")
    body
        div(id="app")
            ul.gal#gal
            button.btn-load-gal#btn-load-gal
script(src="/js/app.min.js")
